@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

body {
  font-family: Roboto-Regular;
  color: #FFF;
}

.w3-top .w3-button {
  background: #1e88e5 !important;
  font-size: 14px;
}

.w3-top .w3-button:hover {
  color: #EEE !important;
}

.w3-top .title {
  margin: auto;
  float: none;
}

.jumbo {
  background: #2196f3;
  color: #FFF;
  height: 500px;
  min-height: 400px;
  font-size: 18px !important;
}

.jumbo h1 {
  font-size: 36px !important;
  padding-top: 60px;
  text-shadow: 2px 2px 12px rgba(0,0,0,0.5)
}

.jumbo a {
  text-decoration: none;
}

.jumbo .w3-button {
  box-shadow: 0 0 6px rgba(0,0,0,0.3) !important;
  margin: 0 5px;
}

.jumbo .w3-button:hover {
  background: #f44336 !important;
  color: #FFF !important;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.3) !important;
  transition: all 0.3s;
}

.w3-container .w3-content {
  color: #555;
}

.w3-container .w3-content h1 {
  text-align: center;
  margin-top: 50px;
}

.w3-container .w3-content h5 {
  text-align: center;
}

.w3-container .w3-content .w3-text-grey {
  text-align: justify;
  padding-bottom: 50px;
}

.w3-container .w3-content .w3-display-container {
  width: 100%;
}

.w3-container .w3-content .w3-display-container img {
  display: block;
  margin: auto;
  box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
}

#fight {
  margin-bottom: 100px;
}

#fight ul {
  font-size: 18px;
}

#fight ul li {
 margin: 10px 0;
}

#fight h5 {
  margin: -10px;
}

#fight h5, #fight ul span {
  font-weight: bold;
}

.quote p {
  font-style: italic;
}

footer {
  margin: 30px;
}

footer img {
  max-width: 80px;
  max-height: 80px;
  margin: 20px 30px;
  opacity: 0.4;
  transition: all 0.3s;
  vertical-align: middle;
}

footer img:hover {
  opacity: 0.6;
}

footer .linux img {
  max-height: 108px;
  max-width: 108px;
}

footer .dff img {
  max-height: 65px;
}

footer .diaspora img {
  opacity: 0.7 !important;
}

footer .diaspora img:hover {
  opacity: 1 !important;
}

@media screen and (max-width: 496px) {
  .jumbo {
    font-size: 16px !important;
  }
  .jumbo h1 {
    font-size: 26px !important;
    padding-top: 20px;
  }
  footer img {
    display: block;
    margin: 25px auto !important;
  }
}
